body{
	background-color: rgb(246, 242, 242);
	font-family: 'Lexend', sans-serif;
}
main{
	margin: 0 10%;
}

a:link, a:visited {
	color: #0082e0;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

img {
	border: none;
}

pre {
	max-width: 100%;
	overflow: auto;
	line-height: 1.4;
	background: #ffe;
	padding: 0.5em;
	border: 1px dotted #cc9;
}

pre, code, tt, kbd {
	font-family: "Andale Mono",courier,monospace;
}

h1{
	text-align: center;
}

h2 {
	margin: 0 0 0.25em 0;
	font-size: 1.3em;
	/*line-height: 1.2em;*/
	text-align: center;
}

h4, h5, h6, input, select, li {
	margin: 0;
	font-size: 1em;
}

.comment
{
	font-style: italic;
	color: #999;
}

table
{
	border-collapse: collapse;
}

td, th
{
	border: 1px solid #000;
	padding: 0.3em;
	text-align: left;
	vertical-align: top;
}

caption
{
	font-size: 1.3em;
	text-align: left;
}

section:first-of-type{
	display: flex;
	justify-content: space-around;
}
article{
	display: flex;
	flex-wrap:wrap;
}

article ul{
margin: 0.5rem;
}

ul
{
	position: relative;
	width: 11em;
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	background: #0d1f65;
	color: #fff;
	margin-bottom: 1em;	
	border-radius: 0.2em;
}

ul:hover{
	background-color: #999;
	cursor: auto;
}

ul.instructions
{
	width: auto;
	list-style-type: disc;
	margin-left: 0;
	padding: 0.5em;
	background: #fff;
	color: #000;
	margin-bottom: 1em;	
}

ul#popup
{
	position: absolute;
	width: 10em;
	padding: 0.3em;
	background: #ccc;
	color: #000;
	border: 1px solid #000;
	top: 1em;
	left: 1em;
	cursor: default;
	z-index: 40;
}

ul#popup li
{
	text-align: left;
	margin: 0.3em 0;
	padding: 0 0.2em;
}

ul#popup li.focus, ul#popup li.hover
{
	background: #00c;
	color: #fff;
}

ul.highlight
{
	background: #c00;
	color: #000;	
}

li.draggable
{
	cursor: move;
}

ul li.hover, ul li.focused
{
	background: #fc0;
}

li.draggable, li.empty
{
	position: relative;
	border: 1px solid #666;
	padding: 0.5em;
	width: 10em;
	text-align: center;
	color: #000;
	
}

li.draggable{
	background: #fff;
}

li.empty{
	background: #9e9797;
}

ol{
	background-color: #ddd;
	border: 0.2em solid #ddd;
	border-radius: 0.2em;
	max-width: 25rem;
	padding: 1em 2em 2em;
}

ol section{
	display: flex;
}

ol section span{
	    line-height: 3.5em;
}
ol li{
	display: list-item;
}
li div{
	height: 3em;
    width: 3em;
    color: rgba(0,0,0,0.7);
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    
	 border: 1px solid rgba(150, 150, 150, 0.05);
	 background: #f9f9f9;
	 box-shadow: inset 0 2px 3px #fff, 0 1px 0 #eee, 0 2px 0 #ddd, 0 5px 0 #eee, 0 2px 3px rgba(144, 141, 141, 0.75), 0 20px 25px rgba(0, 0, 0, 0.12);
	 transition: 0.25s ease;
}

li div.keyWidth{
	width: 10em;
	font-size: 0.8em;
}

li input#text{
background-color: #cc9;
}




