/* https://codepen.io/pamcy/pen/wLZNrB?editors=1010 */
main{
   margin: 10%;
}
section{
   align-items: center;
   display: grid;
   grid-column-gap: 60px;
   grid-template-columns: repeat(5, auto);
}

article.empty {
   width: 150px;
   height: 150px;
   border: 5px solid rgb(0, 0, 123);
   background: rgb(208, 214, 215);
}

.fill {
   text-align: center;
   display: block;
   width: 150px;
   height: 150px;
   cursor: grab;
   background-color: pink;
}

.fill.hold {
   border: 5px solid blue;
   }

.hidden {
   visibility: hidden;
}

/* https://codepen.io/SitePoint/pen/vEzXbj */
/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#68b;

	background:#fff;
}
/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
	
	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}
/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;
	
	box-shadow:0 0 0 5px rgb(137, 189, 89), inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	background:#8ad;
	color:#fff;
}